<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">



   <context:component-scan base-package="com.db.quoters"/>

    <context:property-placeholder ignore-resource-not-found="true" location="classpath:quotes.properties,file:c:\\tmp\\prod.properties"/>


    <bean id="integerFactory2" class="com.db.quoters.bpp.IntegerFactory2"/>

    <bean id="integer2" class="java.lang.Integer" factory-bean="integerFactory2" factory-method="getInt"/>

    <bean id="integer" class="com.db.quoters.bpp.IntegerFactory">

        <constructor-arg value="100"/>
    </bean>











</beans>

















